In [35]:
#1 was to print "hello world" by using the python print funtion 
print("hello world")

hello world

In [1]:
#2 was to initialize variable and value as 50.
a=50
a

50

In [3]:
#3 was to initialize multivariable value are 150,120,250
a,b,c=150,120,250
print(a,b,c)

150 120 250

In [ ]:
#4 was to print the type of the data in the given value.
a=10
type(a)

In [7]:
#5 was to print your details, first store your details,extract the values and display it.
a="Sowmya"
print(a)

d={'name':'sowmya','age':21,'phone':9988774455,'email':'sowmya@gmail.com','address':'HYD'}
print(d)
print(d['name'],d['age'],d['email'])

Sowmya
{'name': 'sowmya', 'age': 21, 'phone': 9988774455, 'email': 'sowmya@gmail.com', 'address': 'HYD'}
sowmya 21 sowmya@gmail.com

In [ ]:
#6 was to print the address of the memory block to given value. 
a=50
id(a)

In [8]:
#7 was to swap the two values . with a temp variable.
a=5
b=10
c=a #c=5
a=b #a=10
b=c #b=5

print(a)
print(b)

10
5

In [9]:
#8 was to swap the two values with out temp variable.
a,b=5,10
a,b=b,a
print(a)
print(b)

10
5

In [10]:
#9 was to initialize the value and print the value, after print, then 
#reinitialize the new value to the exist variable and display the value

a=5
print(a)
a=10
print(a)

5
10

In [ ]:
#10 was to convert single to multi value data type
#i/p= a=10
#o/p ['1','0']

a=10
b=str(a)
print(list(b))

In [19]:
#11 was to concat the two multi value data types (str, list, tuple, dict)

a="haii"
b="hello"
res=a+b
print(res)

a=[10,20]
b=[30,40]
res=a+b
print(res)

m=(10,150,20)
n=(200,)
res=m+n
print(res)

d={'a':10}
d['b']=20
print(d)

b= ["hey"]
a="hi"
b+=a
print(b)

b= ["hey"]
a="hi"
b+=[a]
print(b)

b= ["hey"]
a="hi"
b+=(a,)
print(b)

b= ["hey"]
a={'haii':10,'bye':20}
b+=a
print(b)

haiihello
[10, 20, 30, 40]
(10, 150, 20, 200)
{'a': 10, 'b': 20}
['hey', 'h', 'i']
['hey', 'hi']
['hey', 'hi']
['hey', 'haii', 'bye']

In [21]:
#12 wac to perform the lenght of the collection
a=[10,12,14,15]
len(a)

4

In [20]:
#13 wac to find out the middle value of the given collection 
a=[10,12,14,15,16]
b=len(a)//2
print(a[b])

a=[10,12,14,15,16]
print(a[len(a)//2])

14
14

In [23]:
#14 was to concat the new sting into the starting of the given string.
a="hey"
a='hello'+a
print(a)

hellohey

In [24]:
#15 was to concat the new string into the ending of the ginven sting
a="hey"
a=a+"hello"
print(a)

a="hey"
a+="hello"
print(a)

heyhello
heyhello

In [25]:
#16 was to concat the new string into the middle of the given string 
a="helloworld"
b=a[:5]+"haii"+a[5:]
print(b)

hellohaiiworld

In [26]:
#17 was to replace the old character into a new character of the given string 
a="hii"
a=a[:1]+"y"+a[2:]
print(a)

'hyi'

In [30]:
#18 was to delete the specific character in the given string 
a="helloworld"
a=a[:1]+a[2:]
print(a)

a="helloworld"
a=a[:1]+''+a[2:]
print(a)

hlloworld
hlloworld

In [31]:
#19 was to concat the new sting into the specific position of the given string.
a="hellobye"
a=a[:5]+"world"+a[5:]
print(a)

helloworldbye

In [32]:
#20 was to concat the new value into the starting of the given list 
l=[10,20,30,40,50]
l=[5]+l
print(l)

[5, 10, 20, 30, 40, 50]

In [34]:
#21 was to concat the new value into the ending of the given list
l=[10,20,30,40,50]
l=l+[60]
print(l)

l=[10,20,30,40,50]
l+=[60]
print(l)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [40]:
#22 was to concat the new value into the middle of the given list 

l=[10,20,40,50]
n=[30]
index=len(l)//2
new_list=l[:index]+n+l[index:]
print(new_list)


l=[10,20,40,50]
n=[30]
index=len(l)//2
l[index:index]=n
print(l)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [41]:
#23 was to modify the new value into the specific position of the given list 
l=[10,20,40,50,60]
n=30
l[2]=n
print(l)

[10, 20, 30, 50, 60]

In [42]:
#24 was to modify the new value into the starting of the given list.
l=[1,2,3,4]
l[0]=6
l

[6, 2, 3, 4]

In [43]:
#25 was to modify the new value into the ending of the given list
l=[1,2,3,4,5]
l[-1]=6
print(l)

[1, 2, 3, 4, 6]

In [44]:
#26 was to modify the new value into the middle of the given list 

l=[1,2,3,4,5]
middle=len(l)//2
l[middle]=15
l

[1, 2, 15, 4, 5]

In [45]:
#27 was to modify the first 4 positions values into a given list 
l=[1,2,3,4,5,6,7,8,9,10]
l[:4]=[11,12,13,14]
l

[11, 12, 13, 14, 5, 6, 7, 8, 9, 10]

In [50]:
#28 was to delete the value in the specific position of the given list.
l=[1,2,3,4,5,6,7,8,9,10]
del l[5]
print(l)

l=[1,2,3,4,5,6,7,8,9,10]
l[5:6]=[]
print(l)

[1, 2, 3, 4, 5, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [52]:
#29 was to delete the value into the starting of the list.
l=[1,2,3,4]
del l[0]
l

[2, 3, 4]

In [51]:
#30 was to delete the value into the ending of the list.
l=[1,2,3,4]
del l[-1]
l

[1, 2, 3]

In [53]:
#31 was to delete the value into the middle of the list
l=[1,2,3,4,5]
n=len(l)//2
del l[n]
l

[1, 2, 4, 5]

In [6]:
#32 was to concat the new value into starting of the tuple
t=(1,2,3)
t=(0,)+t
t

(0, 1, 2, 3)

In [56]:
#33 was to concat the new value into the middle of the tuple
l=(1,2,3,4)
n=(10,)
index=len(l)//2
new_list=l[:index]+n+l[index:]
new_list

l=(1,2,3,4)
new_list=l[:len(l)//2]+(150,)+l[len(l)//2:]
new_list

(1, 2, 150, 3, 4)

In [8]:
#34 was to concat the new value into the ending of the tuple
t=(1,2,3)
t=t+(4,)
t

(1, 2, 3, 4)

In [57]:
#35 was to concat the new value into the set
s={1,2,3}
s=list(s)
s+=[40]
s=set(s)
print(s)

s={1,2,3}
s.add(4)
print(s)

{40, 1, 2, 3}

{1, 2, 3, 4}

In [58]:
#36 was to concat the new key and value into the dict. 
d={'a':1,'b':2,'c':3}
d['d']=4
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [59]:
#37 was to delete the specific key and value from the given dict.
d={'a':1,'b':2,'c':3}
del d['a']
d

{'b': 2, 'c': 3}

In [62]:
#38 was to delete the set value.

s={1,2,3,4,5}
print(s)
s=list(s)
del s[-1]
s=set(s)
print(s)

s={1,2,3,4,5}
s.remove(2)
s

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

{1, 3, 4, 5}

In [10]:
#39 was to modify the specific value in the given dict.
d={'a':1,'b':2,'c':3}
d['a']=10
d

{'a': 10, 'b': 2, 'c': 3}

In [63]:
#40 was to concat the list value and tuple value by using type casting.
l=[1,2,3,4]
t=(5,6,7,8)
l=l+list(t)
print(l)


l=[1,2,3,4]
t=(5,6,7,8)
l=tuple(l)+t
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)

In [64]:
#41 was to concat the list value and tuple value without using type casting.
l=[10,20,30]
l+=(40,50,60)
print(l)

l=[1,2,3,4]
t=(5,6,7,8)
l.extend(t)
l

[10, 20, 30, 40, 50, 60]

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
#42 was to the given number is divisible by 3.
n=89
n%3==0

# n=21
# n%3==0

True

In [70]:
#43 was to the given number is divisible by 2 and 6.
n=14
n%2==0 and n%6==0

n=18
n%2==0 and n%6==0

n=89
n%2==0 and n%6==0

False

In [71]:
#44 was to the given number ,the last digit is divisiable by 3 (dont use typecasting)

n=786
i=n%10
i%3==0

True

In [72]:
#45 was to the last digit of a given number is divisiable by 3.(use typecasting)
n=789
l=str(n)[-1]
int(l)%3==0

True

In [73]:
#46 wac to the given number is greater than 150. 
n=250
n>150

True

In [76]:
#47 wac to the given number is greater than or equal to 100.
# n=100
# n>=100

# n=101
# n>=100

n=90
n>=100

False

In [31]:
#48 wac to the given number is less than 150, print the result.
n=75
n<150

60

True

In [32]:
#49 wac to the given number is less than or equal to 100
n=100
n<=100

66

True

In [36]:
#50 wac to the given number is greater than 15 & less than 24
# n=20
# 15<n<24

n=20
n>15 and n<24

True

In [34]:
#51 wac to the given number is even
n=18
n%2==0

5

False

In [35]:
#52 wac to the given number is odd
n=int(input())
n%2!=0

5

True

In [37]:
#53 wac to perform the replication of a given string with 6.
s='hi'
s*6

'hihihihihihi'

In [38]:
#54 wac to the given number is dividsiable by 3 and also the number should be greater than 22
n=int(input())
n>22 and n%3==0

30

True

In [37]:
#55 wac to perform the length of the collection is even or not
n=[10,20,40,50,60,60]
if len(n)%2==0:
    print('even')

even

In [82]:
#56 wac to perform the length of the collection is less than 55 and greater than 16.
n=eval(input())
16<len(n)<55

'kjhgfdslkjhgfdkmnjbhvgcfdxs'

True

In [86]:
#57 was to perform the length of the collection is divisible by 5 and odd.
n=[1,2,3,4,5]
len(n)%5==0 and len(n)%2!=0

True

In [91]:
#58 wac to extract the middle position of a given collection (str,lis,tuple)
l=[1,2,3,4,5]
l[len(l)//2]

3

In [92]:
#59 wac to the given number is greater than 20 and less than 30 and it should be even
n=26
20<n<30 and n%2==0

22

True

In [93]:
#60 wac to the given number is even and it should be less than 120
n=89
n<120 and n%2==0

56

True

In [94]:
#61 wac to the given number is even and present from 40 to 70
n=int(input())
40<=n<=70 and n%2==0

44

True

In [95]:
#62 wac to the given number is odd and it should be greater than 97.
n=int(input())
97<n and n%2!=0

99

True

In [96]:
#63 wac to the given number is less than 122 and greater than 48 and the number should be divisible by 4.
n=int(input())
48<n<122 and n%4==0

52

True

In [97]:
#64 wac to the given number is divisible by 3 or 5, displaying the value.
n=int(input())
n%3==0 or n%5==0

15

True

In [98]:
#65 wac to the given number is between 100 to 200 including the limit.
n=int(input())
100<=n<=200

200

True

In [99]:
#66 wac to the given number is in between 100 to 200
n=int(input())
100<=n<=200

100

True

In [ ]:
#67 wac to the given string's last character ASCII value should be divisible by 5
s=input()
last_char=s[-1]
ord(last_char)%5==0

In [100]:
#68 wac to the given number is present between 60 to 130 
#and the number should be divisible by 3 and 4 and the last didgi shoul be greater than 9.
n=int(input())
60<=n<=130 and n%3==0 and n%4==0 and n%10>9

84

False

In [108]:
#69 wac to the given number is even or less than 25.
n=int(input())
n<25 or n%2==0

12

True

In [109]:
#70 wac to the given number is even or greater than 25
n=int(input())
n>25 or n%2==0

26

True

In [110]:
#71 wac to the given number is divisible by either 3 or 5
n=int(input())
n%3==0 or n%5==0

15

True

In [111]:
#72 wac to the given number is not an even number
n=int(input())
n%2!=0

15

True

In [113]:
#73 wac to the given number is not an odd number 
n=int(input())
n%2==0

12

True

In [115]:
#74 wac to the given number is not a divisible by 3 
n=int(input())
n%3!=0

6

False

In [118]:
#75 wac to the given number is not a divisible by 3 and 5 
n=int(input())
n%3!=0 and n%5!=0

3

False

In [121]:
#76 wac to the given number is not a divisible by 3 or 5
n=int(input())
n%3!=0 or n%5!=0

33

False

In [4]:
#77 wac to the given character ascii value is not divisible by 5
char=input()
ord(char)%5!=0

B

True

In [3]:
#78 wac to find out the ascii character in a given number
num=int(input())
chr(num)

'A'

In [42]:
#79 wac to find out the ascii value in a given character.
char='9'
ord(char)

57

In [125]:
#80 wac to the given character is uppercase or not 
a='S'
a in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

True

In [9]:
a='A'
ord(a)>=65 and ord(a)<=90

True

In [130]:
#81 wac to the given character is the alphabet
c= 'a'

ord(c) >= 65 and ord(c) <= 90 or ord(c)>=97 and ord(c)<=122

True

In [131]:
#82 wac to the given character is lowercase.
c= 'a'
ord(c)>=97 and ord(c)<=122

True

In [19]:
#83 wac to the  given character is ascii number 
c='#'
ord(c) >= 65 and ord(c) <= 90 or ord(c)>=97 and ord(c)<=122 or ord(c)>=48 and ord(c)<=57

False

In [20]:
#84 wac to the given character is special character
char = '#'
c in [char.isalpha() or char.isdigit() or char.isspace() or char.isalnum()]

False

In [23]:
# 85 wac to the given character should not be uppercase.
char = 'a'

ord(char) >= 97 and ord(char) <= 122

True

In [24]:
#86 wac to the given character should not be the lowercase.
char='A'
ord(char) >= 65 and ord(char) <= 90

True

In [26]:
#87 wac to the given character should not be an alphabet.
char='a'
ord(char)>=47 and ord(char)<=58

False

In [40]:
#88 wac to the given character should not be an ascii number.
n='0'
if not('0'<=n<='9'):
    print("The given character is not an ascii number ")
else:
    print("The given character is an ascii number ")

The given character is an ascii number

In [41]:
#89 wac to the given character is the special character 
n='a'
if not('a'<=n<='z' or 'A'<=n<='Z' or '0'<=n<='1' ):
    print("the given character is the special character")
else:
    print("the given character is not special character")

the given character is not special character

In [27]:
#90 wac to the given character is a vowel
char='a'
char in ['a','e','i','o','u']

True

In [29]:
#91 wac to the given character is a consonanat.
char='b'
char not in ['a','e','i','o','u']

True

In [30]:
#92 was to convert upperase to lowercase in a given character
char="A"
char.lower()

'a'

In [32]:
char = 'A' 
if ord(char) >= 65 and ord(char) <= 90:
    lower_char = chr(ord(char) + 32)
    print(lower_char)

a

In [33]:
#93 was to convert lowercase to uppercase in a given character
char="a"
char.upper()

'A'

In [36]:
char = 'a' 
if ord(char) >= 97 and ord(char) <= 122:
    lower_char = chr(ord(char) - 32)
    print(lower_char)

A

In [2]:
#94 was to extract the previous character in the given character 
s=input()
print(chr(ord(s)-1))

b
a

In [3]:
#95 was to extract the next character in the given character
s=input()
print(chr(ord(s)+1))

b
c

In [52]:
#96 wac to the given number charactr is a special symbol.
char='#'
ord(char) < 48 or (ord(char) > 57 and ord(char) < 65) or (ord(char) > 90 and ord(char) < 97) or ord(char) > 122

True

In [3]:
#97 wac to the given character is convertd to ascii value and the value is even as well as the character should be lowercase
s=input()
ord(s)%2==0 and (ord(s)>=97 and ord(s)<=122)

b

True

In [9]:
#98 wac to the given charactre is convereted to ascii value and the value is odd as well as the character shold be uppercase
s=input()
ord(s)
ord(s)%2!=0 and (ord(s)>=65 and ord(s)<=90)

A

True

In [8]:
#99 wac to which the given number is converted to character is not a special symblo
n=int(input())
print(chr(n))
not ('a'<=chr(n)<='z' or 'A'<=chr(n)<='Z' or '0'<=chr(n)<='9')

65
A

False

In [9]:
#100 wac to the given number of the ascii character is a vowel
s=str(input())
if s in ("aeiouAEIOU"):
    print("vowel",s)

e
vowel e

In [6]:
#101 wac to check if the first and second characters are sequence or not in a given string
s1=input()
s2=input()
n=ord(s1)
n==ord(s1) and n+1==ord(s2)

a
b

True

In [10]:
#102 wac to the given character ascii value should be either greater than 50 or greater than 25 or less than 112
n=int(input())
if n>50 or n>25 or n<112:
    print(chr(n))

65
A

In [11]:
#102 wac to the given number is increased by 1.
n=5
print(n+1)

6

In [12]:
#103 wac to the given number is increased by 2.
n=5
print(n+2)

7

In [13]:
#104 wac to the given number is decreased by 1.
n=5
print(n-1)

4

In [14]:
#106 wac to the given number is decreased by 3.
n=5
print(n-3)

2

In [15]:
#107 wac to the given integer number is present in the collection
n=5
collection=[1,2,3,4,5]
if n in collection:
    print(n)

5

In [17]:
#108 wac to perform the addition operation on A value and B value and find result should be updated to A
a=5
b=6
a=a+b
print(a)

11

In [18]:
#109 wac to the given value is present in the collection
s="a"
coll=['a','b','c']
if s in coll:
    print(s)

a

In [19]:
#110 wac to the given list is presnt in the list.
l1=[10,20]
l2=[1,2,3,4,[10,20]]
if l1 in l2:
    print(l1)

[10, 20]

In [22]:
# 111 wac to the given dict values is presnt in tuple
d1={'a':1,'b':2,'c':3}
d2=('a','b','c')
if tuple(d1)==d2:
    print("the given dict values is presnt in tuple")
else:
    print("the given dict values is not presnt in tuple")

the given dict values is presnt in tuple

In [23]:
#112 wac to check given vaule is integer value or not
n=5
if type(n)==int:
    print("the given vaule is integer")
else:
    print("the given vaule is not integer")

the given vaule is integer

In [24]:
#113 wac to check given vaule is string value or not
n='a'
if type(n)==str:
    print("the given vaule is string")
else:
    print("the given vaule is not string")

the given vaule is string

In [25]:
#114 wac to check given vaule is string value or not
n='a'
if type(n)==str:
    print("the given vaule is string")

the given vaule is integer

In [26]:
#115 wac to check given vaule should not be a string value 
n=5
if type(n)!=str:
    print("the given vaule is not string")
else:
    print("the given vaule is string")

the given vaule is not string

In [27]:
#116 wac to check given value is multi value or not
n=[10,20]
if type(n) in [list,tuple,dict,set]:
    print("The given value is multi value")
else:
    print("The given value is not multi value")

The given value is multi value

In [28]:
#117 wac to check given vaule is mutable value or not
n=[10,20]
if type(n) in [list,dict,set]:
    print("The given value is mutable value")
else:
    print("The given value is not mutable value")

The given value is mutable value

In [30]:
#118 wac to the check given vaule is immutable value or not
n=(10,)
if type(n)==tuple:
    print("The given value is immutable value")
else:
     print("The given value is not immutable value")

The given value is immutable value

In [75]:
#119 wac to check given vaule should be an immutable value
n=(10,)
if type(n)==tuple:
    print("The given value is immutable value")

In [34]:
#120 wac to check if a given value is divisible by 6 as well as the value present in the collection or not 
n=6
coll=[1,2,3,4,5,6,7,8,9]
if n%6==0 and n in coll:
    print("The given value is divisible by 6 as well as the value present in the collection")
elif n%6==0 and n not in coll:
    print("The given value is divisible by 6, the value is not present in the collection")
else:
    print("The given value is not divisible by 6 as well as the value is not present in the collection")

The given value is not divisible by 6 as well as the value is not present in the collection

In [25]:
#121 wac to perform the bitwise and operation given valus are 15 and 19
15 & 19

3

In [26]:
#122 wac to perform the bitwise or operation given values are 115 and 79
115 | 79

127

In [27]:
#123 wac to perform the bitwise xor operation given values are 56 and 22 
56^22

46

In [28]:
#124 wac to perform the bitwise not operation given values are 15
~15

-16

In [29]:
#125 wac to perform the bitwise left shift with 32 and skippi values is 3
32<<3

256

In [30]:
#126 wac to perform the bitwise right shift with 25 and skipping value is 2
25>>2

6

In [47]:
#127 to find out the output of a given condition
# (10+20*60 and 10**3) or ({10,20}) or not ([15-16])
a=10+20*60 and 10**3

In [41]:
#128 wac to check if the first and last characters are the same or not in the given list
l=[1,2,3,4,5,6,1]
l[0]==l[-1]

True

In [40]:
#129 wac to check if a given key is present in a dict./
d={'a':1,'b':2,'c':3}
ch=input()
ch in d.keys()

a

True

In [33]:
#130 wac to check if value is present in the dict.
d={'a':1,'b':2,'c':3}
n=int(input())
n in d.values()

2

True

In [38]:
#131 wac to check if the key is not present in a dict 
d={'a':1,'b':2,'c':3}
ch=input()
ch not in d.keys()

d

True

In [39]:
#132 wac to check if two values are pointing to the same address or not
a=10
b=10
a is b

True

In [24]:
#133 wac to check both the values should be integer and both the values are pointing to the same addresss.
a=10
b=10
type(a)==type(b) and (a is b)

True